.infocontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoitem {
  flex: 1;
  padding: 30px;
  margin: 0 18px;
  margin-top: 20px;

  cursor: pointer;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.77);
  box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.77);
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.infotitle {
  font-size: 22px;
}
.infomoney {
  display: flex;
  align-items: center;
}
.money {
  font-size: 26px;
  font-weight: bold;
}
.moneyrate {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
