.productlist {
  flex: 4;
}

.productlistImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.userlistUser {
  display: flex;
  align-items: center;
  gap: 6px;
}

.productlistedit {
  padding: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  margin-right: 16px;
}

.productlistdelete {
  color: red;
  cursor: pointer;
}

.productlistitem {
  display: flex;
  align-items: center;
  gap: 15px;
}
